### In this notebook I will import and clean the dataset that I will then send to SQL

In [1]:
import pandas as pd

In [2]:
the_office = pd.read_csv('./The_Office_lines.csv')

In [4]:
the_office.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [5]:
the_office.shape

(59909, 7)

In [6]:
the_office.drop("id", axis=1, inplace=True)

In [7]:
the_office.head()

,season,episode,scene,line_text,speaker,deleted
0,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [8]:
the_office_episode = the_office.loc[((the_office['season'] == 3) & (the_office['episode'] == 20))]

In [9]:
the_office_episode.head()

,season,episode,scene,line_text,speaker,deleted
15341,3,20,1,[Dressed as Dwight] It's kind of blurry. [puts...,Jim,False
15342,3,20,1,That's a ridiculous question.,Dwight,False
15343,3,20,1,False. Black bear.,Jim,False
15344,3,20,1,Well that's debatable. There are basically tw...,Dwight,False
15345,3,20,1,Fact. Bears eat beets. Bears. Beets. Battl...,Jim,False

In [15]:
the_office_episode.shape

(398, 6)

In [17]:
the_office_episode.reset_index(drop=True, inplace=True)

In [18]:
the_office_episode.head()

,season,episode,scene,line_text,speaker,deleted
0,3,20,1,[Dressed as Dwight] It's kind of blurry. [puts...,Jim,False
1,3,20,1,That's a ridiculous question.,Dwight,False
2,3,20,1,False. Black bear.,Jim,False
3,3,20,1,Well that's debatable. There are basically tw...,Dwight,False
4,3,20,1,Fact. Bears eat beets. Bears. Beets. Battl...,Jim,False

### I have picked one of my favorite episodes of the show to feed an SQL database that I will create in another jupyter notebook. The scene number will act as Groups for the Groups table I will include in the database

### On the other hand I won't need anymore the season and episode number

In [19]:
the_office_episode.drop(["season", "episode"], axis=1, inplace=True)

/home/alvarogb/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [20]:
the_office_episode.head()

   scene                                          line_text speaker  deleted
0      1  [Dressed as Dwight] It's kind of blurry. [puts...     Jim    False
1      1                      That's a ridiculous question.  Dwight    False
2      1                                False.  Black bear.     Jim    False
3      1  Well that's debatable.  There are basically tw...  Dwight    False
4      1  Fact.  Bears eat beets.  Bears.  Beets.  Battl...     Jim    False

In [21]:
the_office_episode.drop(["deleted"], axis=1, inplace=True)

/home/alvarogb/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
the_office_episode.head()

   scene                                          line_text speaker
0      1  [Dressed as Dwight] It's kind of blurry. [puts...     Jim
1      1                      That's a ridiculous question.  Dwight
2      1                                False.  Black bear.     Jim
3      1  Well that's debatable.  There are basically tw...  Dwight
4      1  Fact.  Bears eat beets.  Bears.  Beets.  Battl...     Jim

In [23]:
the_office_episode.shape

(398, 3)

### Saving new version in csv and  json format

In [24]:
the_office_episode.to_json("./S3E20_The_Office_script_to_json", orient="records")

In [26]:
the_office_episode.to_csv('S3E20_The_Office_script')