### In this notebook I will create the SQL database and feed it with the data I have previosuly cleaned from The Office script

In [1]:
import sqlalchemy as alch
from getpass import getpass

In [2]:
password = getpass("Introduce tu pass de sql: ")
dbName="The_Office_chat"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

Introduce tu pass de sql: ········

In [4]:
engine = alch.create_engine(connectionData)

### Testing deleting the "The_Office_chat" database which is empty right now.

In [6]:
engine.execute("""
DROP DATABASE if exists The_Office_chat ;
""")

### We create it again

In [7]:
engine.execute("""
CREATE DATABASE The_Office_chat ; 
""")

### We now tell SQL to use it

In [8]:
engine.execute("""
USE The_Office_chat ; 
""")

### Let's now create the corresponding tables in the database: 1) Users; 2) Connections; 3) Groups; 4) Messages

In [9]:
engine.execute("""
CREATE TABLE Users(

user_id INT PRIMARY KEY AUTO_INCREMENT,
character_name VARCHAR (100)
);
"""
)

In [11]:
engine.execute("""
CREATE TABLE Connections(

connection_id INT PRIMARY KEY AUTO_INCREMENT,
user_id INT,
group_id INT

);
"""
)

In [15]:
engine.execute("""
CREATE TABLE Groups_chats(

group_id INT PRIMARY KEY AUTO_INCREMENT

);
"""
)

In [16]:
engine.execute("""
CREATE TABLE Messages(

message_id INT PRIMARY KEY AUTO_INCREMENT,
message VARCHAR (2000),
user_id INT,
group_id INT

);
"""
)

### Now that the tables are created, let's create the relationships between them

In [21]:
engine.execute("""
ALTER TABLE Connections(

ADD FOREIGN KEY (user_id) REFERENCES Users (user_id) ON DELETE CASCADE

);
"""
)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(\n\nADD FOREIGN KEY (user_id) REFERENCES Users (user_id) ON DELETE CASCADE\n\n)' at line 1")
[SQL:
ALTER TABLE Connections(

ADD FOREIGN KEY (user_id) REFERENCES Users (user_id) ON DELETE CASCADE

);
]
(Background on this error at: http://sqlalche.me/e/14/f405)

### I've had trouble creating the FK via ALTER, so I will delete the tables "Connections" and "Messages" and create them again indicating already the FK in the CREATE TABLE command

In [22]:
engine.execute("""
DROP TABLE Connections;
"""
)

In [23]:
engine.execute("""
DROP TABLE Messages;
"""
)

### Let's create them again with FKs

In [24]:
engine.execute("""
CREATE TABLE Connections(

connection_id INT PRIMARY KEY AUTO_INCREMENT,
user_id INT,
group_id INT,
FOREIGN KEY (user_id)
    REFERENCES Users(user_id)
    ON DELETE CASCADE,
FOREIGN KEY (group_id)
    REFERENCES Groups_chats(group_id)
    ON DELETE CASCADE

);
"""
)

In [25]:
engine.execute("""
CREATE TABLE Messages(

message_id INT PRIMARY KEY AUTO_INCREMENT,
message VARCHAR (2000),
user_id INT,
group_id INT,
FOREIGN KEY (user_id)
    REFERENCES Users(user_id)
    ON DELETE CASCADE,
FOREIGN KEY (group_id)
    REFERENCES Groups_chats(group_id)
    ON DELETE CASCADE

);
"""
)

### Now I will feed the data into the tables from the csv file I cleaned

In [27]:
import pandas as pd

In [59]:
data = pd.read_csv('../dataset/S3E20_The_Office_script')

In [60]:
data.head()

,Unnamed: 0,scene,line_text,speaker
0,0,1,[Dressed as Dwight] It's kind of blurry. [puts...,Jim
1,1,1,That's a ridiculous question.,Dwight
2,2,1,False. Black bear.,Jim
3,3,1,Well that's debatable. There are basically tw...,Dwight
4,4,1,Fact. Bears eat beets. Bears. Beets. Battl...,Jim

In [61]:
data.drop("Unnamed: 0", axis=1, inplace=True)

In [31]:
data.head()

   scene                                          line_text speaker
0      1  [Dressed as Dwight] It's kind of blurry. [puts...     Jim
1      1                      That's a ridiculous question.  Dwight
2      1                                False.  Black bear.     Jim
3      1  Well that's debatable.  There are basically tw...  Dwight
4      1  Fact.  Bears eat beets.  Bears.  Beets.  Battl...     Jim

### Let's populate the Users table first

In [42]:
users = data.speaker.unique()

In [46]:
usersdf = pd.DataFrame(users)

In [48]:
usersdf.head()

         0
0      Jim
1   Dwight
2      Pam
3  Phyllis
4  Stanley

In [49]:
usersdf.columns = ["user_name"]

In [50]:
usersdf.head()

  user_name
0       Jim
1    Dwight
2       Pam
3   Phyllis
4   Stanley

In [51]:
for i, fila in usersdf.iterrows():
    engine.execute(
        f"""
        INSERT INTO Users (character_name) VALUES
        ("{fila['user_name']}");
       """
    )

In [56]:
query = f""" SELECT user_id, character_name
FROM Users
WHERE character_name = "Dwight"

"""
data = pd.read_sql_query(query,engine)

In [57]:
data.head()

   user_id character_name
0        2         Dwight

### Let's now populate the Groups table

In [62]:
groups = data.scene.unique()

In [64]:
groupsdf = pd.DataFrame(groups)

In [65]:
groupsdf.head()

   0
0  1
1  2
2  3
3  4
4  5

In [71]:
groupsdf.columns = ["scene_number"]

In [72]:
groupsdf.head()

   scene_number
0             1
1             2
2             3
3             4
4             5

In [ ]:
ALTER TABLE sales.quotations 
ADD description VARCHAR (255) NOT NULL;

In [70]:
engine.execute("""

ALTER TABLE Groups_chats
ADD group_number INT;

"""
)

In [74]:
for i, fila in groupsdf.iterrows():
    engine.execute(
        f"""
        INSERT INTO Groups_chats (group_number) VALUES
        ("{fila['scene_number']}");
       """
    )

In [75]:
query = f""" SELECT group_id, group_number
FROM Groups_chats
WHERE group_number > 3

"""
data_2 = pd.read_sql_query(query,engine)

In [76]:
data_2.head()

   group_id  group_number
0         4             4
1         5             5
2         6             6
3         7             7
4         8             8

### Now we will focus on the Connections table

In [77]:
data.head()

   scene                                          line_text speaker
0      1  [Dressed as Dwight] It's kind of blurry. [puts...     Jim
1      1                      That's a ridiculous question.  Dwight
2      1                                False.  Black bear.     Jim
3      1  Well that's debatable.  There are basically tw...  Dwight
4      1  Fact.  Bears eat beets.  Bears.  Beets.  Battl...     Jim

In [78]:
query = f""" SELECT user_id, character_name
FROM Users

"""
data_3 = pd.read_sql_query(query,engine)

In [80]:
data_3.head()

   user_id character_name
0        1            Jim
1        2         Dwight
2        3            Pam
3        4        Phyllis
4        5        Stanley

In [88]:
user_id_list = []
for n in data.speaker:
    for i, fila in data_3.iterrows():
        if fila['character_name'] == n:
            user_id_list.append(fila['user_id'])
        else:
            pass

In [89]:
user_id_list

[1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 3,
 1,
 4,
 5,
 6,
 6,
 6,
 2,
 6,
 7,
 6,
 1,
 6,
 8,
 3,
 6,
 9,
 6,
 9,
 6,
 10,
 6,
 11,
 12,
 11,
 6,
 1,
 6,
 1,
 6,
 7,
 6,
 13,
 1,
 6,
 2,
 3,
 6,
 2,
 6,
 6,
 1,
 6,
 9,
 9,
 12,
 10,
 12,
 11,
 12,
 14,
 12,
 14,
 12,
 14,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 6,
 2,
 2,
 2,
 15,
 2,
 15,
 2,
 15,
 2,
 15,
 2,
 15,
 2,
 1,
 13,
 1,
 13,
 16,
 13,
 16,
 13,
 16,
 13,
 1,
 13,
 1,
 13,
 14,
 10,
 11,
 12,
 9,
 2,
 9,
 3,
 17,
 6,
 6,
 2,
 6,
 17,
 6,
 17,
 6,
 17,
 18,
 1,
 13,
 1,
 13,
 1,
 18,
 1,
 18,
 1,
 18,
 13,
 1,
 13,
 1,
 13,
 12,
 11,
 12,
 11,
 12,
 11,
 6,
 17,
 6,
 17,
 2,
 6,
 2,
 6,
 17,
 6,
 17,
 6,
 17,
 6,
 17,
 6,
 17,
 6,
 17,
 6,
 17,
 2,
 6,
 17,
 6,
 15,
 6,
 3,
 6,
 3,
 6,
 3,
 3,
 6,
 6,
 2,
 6,
 2,
 6,
 2,
 6,
 2,
 6,
 2,
 6,
 3,
 6,
 3,
 6,
 11,
 14,
 11,
 14,
 10,
 11,
 10,
 11,
 14,
 11,
 14,
 10,
 6,
 3,
 6,
 3,
 6,
 3,
 6,
 9,
 9,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 2,
 3,
 2,
 8,
 2,
 1,
 8,
 1,
 8,
 1,
 2,
 1,
 2,
 12,
 7,
 6,
 2,
 12,
 10,
 12,
 10,
 12,
 11,
 12,
 11,
 14,
 9,
 15,
 9,
 15,
 9,
 15,
 9,
 9,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 6,
 6,
 19,
 6,
 19,
 2,
 6,
 2,
 6,
 19,
 6,
 19,
 20,
 13,
 16,
 13,
 16,
 13,
 20,
 13,
 1,
 20,
 2,
 11,
 12,
 11,
 10,
 12,
 11,
 12,
 11,
 14,
 6,
 3,
 6,
 3,
 6,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 1,
 13,
 13,
 16,
 1,
 21,
 1,
 21,
 1,
 21,
 1,
 21,
 1,
 21,
 1,
 21,
 1,
 21,
 1,
 21,
 1,
 21,
 1,
 13,
 1,
 2,
 9,
 2,
 6,
 2,
 6,
 2,
 6,
 2,
 6,
 2,
 12,
 11,
 12,
 11,
 12,
 11,
 12,
 11,
 12,
 11,
 12,
 11,
 12,
 11,
 6,
 2,
 9]

In [90]:
data["user_id"] = user_id_list

In [92]:
data.sample(5)

     scene                                  line_text    speaker  user_id
270     52                                     [hums]      Creed        9
52      13                                       Here    Michael        6
268     51              Alright, I think I'm trained.     Angela       11
33       9  This day is bananas. B-A-N-A-N-A-S.  This      Kelly       12
106     23               Uh, yeah, I'd like uh, uh---  Chad Lite       15

In [93]:
for i, fila in data.iterrows():
    engine.execute(
        f"""
        INSERT INTO Connections (user_id, group_id) VALUES
        ({fila['user_id']}, {fila['scene']});
       """
    )

In [94]:
query = f""" SELECT connection_id, user_id, group_id
FROM Connections

"""
data_4 = pd.read_sql_query(query,engine)

In [96]:
data_4.sample(5)

     connection_id  user_id  group_id
121            122       13        24
3                4        2         1
373            374        6        70
166            167        2        34
159            160       11        33

### Finally, we will populate the Messages table

In [97]:
for i, fila in data.iterrows():
    engine.execute(
        f"""
        INSERT INTO Messages (message, user_id, group_id) VALUES
        ("{fila['line_text']}", {fila['user_id']}, {fila['scene']});
       """
    )

In [98]:
query = f""" SELECT message_id, message, user_id, group_id
FROM Messages

"""
data_5 = pd.read_sql_query(query,engine)

In [99]:
data_5.sample(5)

,message_id,message,user_id,group_id
149,150,And you should.,1,32
177,178,"No, I'm a regional manager---",6,36
350,351,Do you have a cigarette?,21,68
239,240,[Joins in with classic Andy falsetto] Oooo-oo-...,13,45
221,222,Still said it.,14,41